pymupdf4llm
langchain
langchain-experimental
# langchain-openai
langchain-groq
# openai
# azure-search-documents

psycopg2-binary
sqlalchemy
psycopg2

fastapi
uvicorn
python-multipart
jinja2

sentence-transformers
chromadb

